<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mathlist/style.css' %}">
    <title>
        Maths With Crystal - Test your Maths!
    </title>
    {% load static %}
    <script type="text/javascript" src="{%static 'mathlist/indexlist.js'}"></script>
</head>

<body>
    <div class="top-nav-div">
        <nav class="nav-bar">
            <ul class="nav-bar-list">
                <a href="{% url 'mathlist:index' %}">
                    <li>Home</li>
                </a>
                <a href="{% url 'mathlist:index' %}#questions">
                    <li class="active">List</li>
                </a>
                <a href="">
                    <li>Quiz</li>
                </a>
            </ul>
        </nav>
    </div>
    <div id="questions" class="questions-div">
        <h2>{{ question.question_level }}</h2>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        
        <div class="question-select">
            <form action="{% url 'mathlist:selection' question.id %}" method="post">
                <h3>{{ question.question_text }}</h3>

                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                <br>
                <br>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>